{include file="public/header" /}
<style type="text/css">
	.layui-form-onswitch{
		background-color: #1b8bf5;
	}
	.layui-form-radio i:hover, .layui-form-radioed i {
		color: #1b8bf5;
	}	
</style>
</head>
<body>
	<form  class="layui-form layui-form-pane" id="formrec" method="post" role="form">	
	<div id="main-container">
		<div class="main">
			<div class="main_content">
					<div class="title_bar mb20">
						公众号&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://mp.weixin.qq.com/"><font color="#0000FF">立即申请</font></a> <div class="layui-input-inline" style="width:100px; float:right">
			                <input type="checkbox" {if config('sys.mp_send') eq 1}checked{/if} name="mp_send" lay-skin="switch" lay-filter="switchTest">
			            </div>	
					</div>
								           
			           		         
			      
					<div class="disablewords  {if config('sys.mp_send') neq 1}none{/if}" >
						
						<div class="layui-form-item">
							<label class="layui-form-label">appId</label>
							<div class="layui-input-inline">
								<input class="layui-input" lay-verify="required" type="text" name="mp_appId" value="{:config('sys.mp_appId')}" placeholder="">
							</div>
							<font class="font_tip">示例：wxf33********a5e05</font>
						</div>

						<div class="layui-form-item">
							<label class="layui-form-label">appSecret</label>
							<div class="layui-input-inline">
								<input class="layui-input" lay-verify="required" type="text" name="mp_appSecret" value="{:config('sys.mp_appSecret')}" placeholder="" >
							</div>
							<font class="font_tip">示例：e1fd2e4**************94c861036f8</font>
						</div>
										
					</div>
					
				
                <!--阿里云短信-->
                	<div class="layui-form-item">
                        <div class="title_bar mb20">
                            阿里云短信&nbsp;&nbsp;&nbsp;&nbsp;<a href="https://homenew.console.aliyun.com/"><font color="#0000FF">立即申请</font></a>
                            <div class="layui-input-inline" style="width:100px; float:right">
                                <input type="checkbox" {if config('sys.ali_send') eq 1}checked{/if} name="ali_send" lay-skin="switch" lay-filter="urlmodel">
                            </div>	
                        </div>          
			        </div>

					<div class="radionum {if config('sys.ali_send') neq 1}none{/if}" >
						<div class="layui-form-item">
							<label class="layui-form-label">AccessKeyID</label>
							<div class="layui-input-inline">
								<input class="layui-input" lay-verify="required" type="text" name="ali_accessKeyId" value="{:config('sys.ali_accessKeyId')}" placeholder="">
							</div>
							<font class="font_tip">示例：LTAIa******T8kBP</font>
						</div>

						<div class="layui-form-item">
							<label class="layui-form-label">AccessKeySecret</label>
							<div class="layui-input-inline">
								<input class="layui-input" lay-verify="required" type="text" name="ali_accessKeySecret" value="{:config('sys.ali_accessKeySecret')}" placeholder="" >
							</div>
							<font class="font_tip">示例：jib**************QV1DsQkK9OVhP</font>
						</div>

			</div>
            
            
            
            
            
				
					<div class="title_bar mb20">
						邮件提醒&nbsp;&nbsp;&nbsp;&nbsp;<font class="font_tip">设置填写后请进行测试收件验证配置是否正确</font>
					</div>
					<div class="layui-form-item">
			            <label class="layui-form-label">SMTP地址</label>
			            <div class="layui-input-inline">
			                <input class="layui-input" type="text" name="mail_smtp" value="{:config('sys.mail_smtp')}" placeholder="">
			            </div>
			            <font class="font_tip">示例：smtp.exmail.qq.com</font>
			        </div>

			        <div class="layui-form-item">
			            <label class="layui-form-label">SMTP端口</label>
			            <div class="layui-input-inline">
			                <input class="layui-input" type="text" name="mail_smtpport" value="{:config('sys.mail_smtpport')}" placeholder="" >
			            </div>
			            <font class="font_tip">示例：465</font>
			        </div>

			        <div class="layui-form-item">
			            <label class="layui-form-label">邮箱用户名</label>
			            <div class="layui-input-inline">
			                <input class="layui-input" type="text" name="mail_username" value="{:config('sys.mail_username')}" placeholder="" >
			            </div>
			            <font class="font_tip">示例：admin@xxx.com</font>
			        </div>

			        <div class="layui-form-item">
			            <label class="layui-form-label">邮箱密码</label>
			            <div class="layui-input-inline">
			                <input class="layui-input" type="text" name="mail_password" value="{:config('sys.mail_password')}" placeholder="" >
			            </div>
			        </div>

			        <div class="layui-form-item">
			            <label class="layui-form-label">发件人名称</label>
			            <div class="layui-input-inline">
			                <input class="layui-input" type="text" name="mail_setname" value="{:config('sys.mail_setname')}" placeholder="" >
			            </div>
			            <font class="font_tip">示例：某某公司</font>
			        </div>

			        {if config('sys.mail_smtp') neq ''}

					<div class="layui-form-item">
			            <label class="layui-form-label">发送测试邮件</label>
			            <div class="layui-input-inline">
			                <input class="layui-input" type="text" name="mail_addr" id="mail_addr" value="" placeholder="填写测试接收地址" >
			            </div>
			            <font class="font_tip demomail" style="color:red;">[ 点击发送 ]</font>
			        </div>
			        {/if}							

		</div>
		<div class="layui-form-item">
			<label class="layui-form-label"></label>
			<div class="layui-input-inline seo_btn">
				<button class="btn" lay-submit="" lay-filter="save" data-href='{:url('index')}'>提交</button>
				<a href="javascript:history.go(-1)">返回</a>
			</div>
		</div>
		
	</div>
	</form>
<!-- <link rel="stylesheet" href="__ADM_PUBLIC__/css/webuploader.css">
<script type="text/javascript" src="__ADM_PUBLIC__/js/webuploader.js"></script> -->

<script>
layui.use(['form','common','upload'], function(){
        var $ = layui.jquery;
        $form = $('form');
        var form = layui.form(),layer = layui.layer,common=layui.common;
		var mobile = /^1[3|4|5|7|8]\d{9}$/;
        //监听提交
        form.on('submit(save)', function(data){

            var sub = true;
            var url = $(this).data('href');
            if(url){
                if(sub){
                    $.ajax({
                        url: url,
                        type: 'post',
                        dataType: 'json',
                        data: data.field,
                        success: function (info) {
                            if (info.code == 1) {
                            	layer.alert(info.msg,{icon: 6},function(){
                            		window.location.href='{:url('message/index')}';
                            	});  								
                                // common.layerAlertSHref(info.msg, '提示', "{:url('push/remind')}");
                            }
                            else {
                                common.layerAlertE(info.msg, '提示');
                            }
                        },
                        beforeSend: function () {
                            // $(data.elem).attr("disabled", "true").text("提交中...");
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            common.layerAlertE(textStatus, '提示');
                        }
                    });
                }
            }else{
                common.layerAlertE('链接错误！', '提示');
            }
            return false;
        });
		
       	form.on('switch(switchTest)', function(data) {
        	if (this.checked) {
				console.log(1)
        		$(".disablewords").show();				
        	}else{
				console.log(2)
        		$(".disablewords").hide();
        	}
        });
        form.on('switch(urlmodel)', function(data) {
        	if(this.checked){				
				console.log(this.value)
        		$(".radionum").show();							
        	}else{
				console.log(this.value)
				$(".radionum").hide();
        	}
        });			
		form.verify({
			tellphone: function(value,item){
				var hideen=$(item).is(':hidden');
				if(!hideen){
					var flag = mobile.test(value);
					if(!flag){
						return '请输入正确手机号';
					}							
				}
			}
		});	
		  $('.demomail').click(function(){
			if($("#mail_addr").val()) {
				$.ajax({
                        url: "{:url('Message/demomail')}",
                        type: 'post',
                        dataType: 'json',
                        data: $('#formrec').serialize(),
                        success: function (info) {
                            if (info.code == 1) {
                                common.layerAlertSHref(info.msg, '提示', "{:url('Message/index')}");
                            }
                            else {
                                common.layerAlertE(info.msg, '提示');
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            common.layerAlertE(textStatus, '提示');
                        }
               	});
			}else{
				common.layerAlertE('填写正确的邮箱地址进行测试！', '提示');
			}
		});
    });

</script>
</body>
</html>