<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>微享CMS安装向导</title>
<link href="__IndexPublic__/css/agree.css" rel="stylesheet" type="text/css" />
<link href="__IndexPublic__/css/common.css" rel="stylesheet" type="text/css" />
<script src="__IndexPublic__/js/jquery-3.4.1.min.js"></script>
<script src="__IndexPublic__/js/install.js"></script>
</head>
<body>
<div class="g-install">
  <div class="m-head">
    <a href="http://www.cqaaa.com/" target="_blank" class="logo"></a>
    <h1>欢迎使用微享CMS</h1>
    <a href="http://www.cqaaa.com/" target="_blank" class="a_home">官方网站</a>
  </div>
  <div class="age_col"><img src="__IndexPublic__/argimg/age_bg2.png"/></div>
  <div class="age_con">
    <p class="age_tit"><span>微享CMS使用协议</span></p>
    <div class="age_body">
      <div class="agebody_con">
        <p>安装协议</p>
        <p>1. 本授权协议适用于 微享CMS 任何版本，微享CMS开发团队拥有对本授权协议的最终解释权和修改权。</p>
        <p>2. 所有用户均可根据自己的需求对 微享CMS 进行修改。但无论何种情况，即：无论用途如何、是否经过修改或美化、修改程度如何，
        只要您使用 微享CMS 的任何整体或部分程序算法，都必须保留页脚处的 微享CMS 名称和 www.cqaaa.com 的链接地址，且修改后的
        程序版本依然归 微享CMS 开发团队所有。</p>
        <p>3. 无论您从何处获得 微享CMS ，只要未经商业授权，不得将本软件用于商业用途（企业网站或以盈利为目的的经营性网站），否则我
        们将保留追究的权利。有关 微享CMS 授权包含的服务范围，技术支持等，请参看 www.cqaaa.com 。对于违反以上条款，我们将依法
        追究其责任。</p>
        <p>
          4. 您可以免费试用本程序用于非商业用途，并允许传播给其他人。但您不能将本软件出售或变相出售、搭售（包括但不限于出售其他产
          品赠送本软件等形式），这将被视为本软件用于商业用途，需要经过我们的商业授权。        
        </p>
        <p>免责声明</p>
        <p>1. 利用本软件构建的网站的任何信息内容以及导致的任何版本纠纷和法律争议及后果，我们不承担任何责任。</p>
        <p>
  2. 程序的使用（或无法再使用）中所有一般化、特殊化、偶然性或必然性的损坏（包括但不限于数据的丢失，自己或第三方所维护数据
  的不正确修改，和其他程序协作过程中程序的崩溃等），我们不承担任何责任。       
        </p>        
      </div>
    </div>
    <div class="m-foot">
      <a href="/index.php?s=index/install/setup1" class="submit">同意协议并安装系统</a>
    </div>
  </div>
</div>
</body>
</html>